<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/mystyles.css">
    <title>Flask app for Basic Congressmember Info</title>
</head>
<body>
    <h1>Basic Congressmember Info</h1>

    <p><a href="/senate/">The Senate</a></p>
    <p><a href="/house/">The House</a></p>

</body>
</html>
